:root{//variavek de estilo global
   --vermelho:#e50914;
   --preto:#141414;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: var(--preto);
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
}



div .container{
    display: flex;
   
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    
     
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div .Logo{
 color: var(--vermelho);
 font-size: 40px;
 font-family: 'Arial Black', 'Times New Roman', Times, serif;


}
.teste{
    background-color: red;
    height: 180px;
    width: 150px;
    position: absolute;
    display: flex;
    transition: ease 0.5s ;
}

.teste2{
    background-color: rgb(0, 248, 227);
    position: absolute;
    height: 180px;
    width: 150px;
    display: flex;
    transition: ease 0.5s 
    
}

   
.iconClicar{
    margin-left: 10px;
    transform: translateY(5px);
    cursor: pointer;
}
div nav  {
    color: #AAA;
    text-decoration: none;
    margin-left: 30px;
}

div nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 20px;
    font-size: 13px;
}

div nav a:hover{
    color: #fff;
}






 .filme-principal{
    font-size: 16px;
    background: linear-gradient(to bottom, #141414d7 5%, transparent 100%), 
    linear-gradient(to top, #141414 10%, transparent 100%), 
    url('../../assets/TheWitcher.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: flex-start;


    .container2{
        margin-left: 20px;
    }

    .Title{
        margin-top: 15%;
        font-size: 60px;
        font-family: 'Poppins';
    }

    .Descripition{

        margin-bottom: 60px;
        font-family: 'Poppins';
    }

    .botoes button{
       background-color: rgb(0, 0, 0, 0.5);
       font-size: 12px;
       padding: 10px 30px;
       margin-right: 20px;
       border-radius: 5px;
       border: none;
       color: rgb(255, 255, 255);
       cursor: pointer;
       transition: .3s ease all;
       border: 1px solid rgb(27, 27, 27);

       .icon {
        margin-right: 10px;
        color: rgb(255, 255, 255);
        align-items: center;
        justify-content: center;
        
     }
      
    }

    .botoes button:hover{
        
        color: rgb(255, 255, 255);
        border: 1px solid red;
        .icon {
            margin-right: 10px;
            color: rgb(255, 254, 254);
            align-items: center;
            
         }
    }
    .img2{
        background-color: red;
        background-size: cover;
         height: 25px;
         width: 30px;
         margin-left: 15px;
         border-radius: 5px;
         background: url('../../assets/icon.png');
 
         
     }
 
    
   
}

.arrowF{
    width: 100%;
    margin-top: 130px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    .arrowIcon{
        background-color: rgba(0, 0, 0, 0.336);
        padding: 10px 25px;
        align-items: center;
        height: 150px;
        justify-content: center;
        margin: 0 15px;
        height: 100%;
        color: rgba(243, 243, 243, 0.692);
        cursor: pointer;
        
    }

    .arrowIcon:hover{
        background-color: rgba(0, 0, 0, 0.842);
        padding: 10px 25px;
        align-items: center;
        height: 150px;
        justify-content: center;
        margin: 0 15px;
        height: 100%;
        color: rgb(255, 255, 255);
        cursor: pointer;
        
    }
}

.iconFecarModal{
    color: red;
    fill: white;
    position: absolute;
    margin-top: -290px;
    margin-left: 300px;
}



.imgModal{
    background:  linear-gradient(to top, #000000e5 0%, transparent 100%), url('../../assets/Cartaz/ggg.jpg');
    background-size: cover;
    width: 698px;
    height: 500px;
    
    margin-top: -20px;
}

.butonmodal{
    background-color: red;
    border: none;
    width: 150px;
    height: 25px;
    margin: 35px 15px;
    border-radius: 5px;
    color: white;
    scale: (0.9);
}

.butonmodal:hover{
    background-color: rgb(230, 226, 10);
    border: none;
    width: 150px;
    height: 25px;
    margin: 35px 15px;
    border-radius: 5px;
    color: white;
    

}



.texts{
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    h2{
        padding: 10px;
    }
}

@media screen and(max-width:360px){
    .Title{
        font-size: 5px;
    }
    
    
}


