.container-header{
  margin-top: 55px;
  position: fixed;
  width: 100%;
  background-color:transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999;
  transition: all ease 0.5s;
}

.container-black{
    margin-top: 55px;
    position: fixed;
    width: 100%;
    background: linear-gradient(to top, rgb(20, 20, 20) 10%, rgb(0, 0, 0)  );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
    transition: all ease 0.5s;
    
  }

.header-area-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    

    h4{
        padding: 10px;
    }

    .img{
       
        background-size: contain;
         height: 28px;
         width: 32px;
         margin-left: 15px;
         border-radius: 5px;
         background: url('../../assets/icon.png');
         
 
         
     }

}

.navbar{
    padding: 0px 20px;
}




@media screen and(max-width:521px){
    .container-header, .logo{
       flex-direction: column;
       margin-top: 100px;
    }

    .logo{
        font-size: 5px;
    }
}
